.modal{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 1000vh;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
.formBox{
    padding: 28px;
    background-color: #fff;
    max-width: 240px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 0px 16px #93bce8;
}
form{
    max-width: 90%;
}
.fromButton{
    font-weight: 700;
}
input, textarea{
    width: 100%;
    margin-bottom: 17px;
    padding: 7px 18px;
    border: 1px solid #ACACAC;
}
textarea{
    min-height: 160px;
}
@media screen and (min-width: 768px) {
    .formBox{
        max-width: 440px;
        margin: 150px auto;
    }  
}