.cardImageWrap{
    max-width: 400px;
    margin: 0 auto;
}
.image{
    display: block;
    width: 100%;
}
.buttonsBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
