.card {
    border-radius: 5px;
    width: 500px;
    max-width: 35%;
    margin: 40px auto 0 auto;
    background-color: ghostwhite;
    padding: 20px;
    overflow: scroll;
    max-height: 90vh;
}
@media screen and (min-width: 1024.1px) {
    .card{
        max-width: 28%;    
    }
}
@media screen and (max-width: 768.1px) {
    .card{
        max-width: 100%;    
    }
}
